<a href="https://colab.research.google.com/github/sharmila0910/attendance1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing the required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
style.wise('explot') 
import plotly
import plotly.express as px

import datetime as dt
from datetime import timedelta
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from statsmodels.tsa.api import Holt
import pandas.util.testing as tm

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving test.xlsx to test (2).xlsx

In [ ]:
import io

In [ ]:
df= pd.read_excel('test.xlsx')
df.head(20)

             City Time Series Data Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0             NaN            April        May       June       July     August
1        Tuensang             1614       1946       2372       2500       2769
2    Lakshmeshwar           369179     445559     541045     572860     636502
3            Zira           140581     169665     206030     218138     242367
4           Yawal          2557179    3086249    3747597    3968032    4408916
5    Thana Bhawan          1800363    2172850    2638469    2793662    3104060
6         Ramdurg           369179     445559     541045     572860     636502
7         Pulgaon              NaN    3086249    3747597    3968032    4408916
8      Sadasivpet              NaN      88263     107184     113478     126078
9         Nargund              NaN     445559     541045     572860     636502
10  Neem-Ka-Thana           855688    1032726        NaN    1327788    1475311
11         Memari           863918    1042658    1266093    1340558    1489500
12        Nilanga          2557179    3086249    3747597    3968032    4408916
13     Naharlagun             3317        NaN       4867       5143       5705
14         Pakaur            97323     117458     142635     151015     167785
15            Wai          2557179    3086249    3747597    3968032    4408916
16       Tarikere           369179     445559     541045     572860     636502
17      Malavalli           369179     445559     541045     572860     636502
18         Raisen           244400     294964     358178     379237     421365
19          Lahar           244400     294964        NaN        NaN     421365

In [ ]:
print("size/shape of the dataset",df.shape)
print("checking for null values",df.isnull().sum())
print("checking data-type",df.dtypes)

size/shape of the dataset (502, 6)
checking for null values City                 1
Time Series Data    55
Unnamed: 2          57
Unnamed: 3          32
Unnamed: 4          17
Unnamed: 5           0
dtype: int64
checking data-type City                object
Time Series Data    object
Unnamed: 2          object
Unnamed: 3          object
Unnamed: 4          object
Unnamed: 5          object
dtype: object

In [ ]:
df[]